@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300&display=swap');

*{
    font-family: 'Fira Sans', sans-serif;
}
body{
    background-color: black;
}
header{
    text-align: center;
    color: rgb(255, 246, 196);
    font-size: 2.4rem;
    padding: 5px;
}
.line{
    height: 3px;
    width: 90vw;
    background-image: linear-gradient(90deg,rgba(255, 217, 0, 0),gold,rgba(255, 217, 0, 0));
    margin: 10px;
    animation-name: line-animation;
    animation-duration: 2s;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container input{
    font-size: 1.4rem;
    padding: 10px;
    margin: 10px;
    transition: 0.5s ease-in-out;
    border-radius: 20px;
    border: none;
    height: 6rem;
    background-color: black;
    color: white;
    text-align: right;
}
#container input:focus{
    outline: 0;
    text-align: right;   
}
button{
    height: 3.6rem;
    width: 3.6rem;
    margin: 5px;
    border-radius: 30px;
    font-size: 1.2rem;
    border: none;
    transition: 0.2s;
}
button:active{
    box-shadow: inset 0 0 2rem 2rem rgba(0, 0, 0, 0.536);
}
.button-1{
    color: white;
    background-color: rgb(83, 83, 83);
}
.button-2{
    background-color: rgb(210, 168, 0);
}
.button-3{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 240, 182);
}

@keyframes line-animation{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
